<?xml version="1.0" encoding="UTF-8"?>
<confinguration>
	<include resource="org/springframework/boot/logging/logback/base.xml"></include>
	
	<!-- log4jdbc-log4j2 -->
	<logger name="jdbc.sqltiming"	level="DEBUG"></logger>
	<logger name="jdbc.audit"		level="WARN"></logger>
	<logger name="jdbc.resultset"	level="ERROR"></logger>
	<logger name="jdbc.resultsettable"	level="ERROR"></logger>
	<logger name="jdbc.connection"	level="INFO"></logger>
</confinguration>